body {
    background-color: black;
}

.coracao {
    width: 100px;
    height: 100px;
    background-color: red;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
    animation: 1.5s batendo infinite linear;
}

.coracao::before {
    content: '';
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    transform: translateY(-50%) rotate(45deg);
    border-radius: 50%;
}

.coracao::after {
    content: '';
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    transform: translate(-50%, 0%) rotate(45deg);
    border-radius: 50%;
}


@keyframes batendo {
    0% {
        transform: translate(-50%, -50%) rotate(45deg) scale(1);
    }

    30% {
        transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
    }

    50% {
        transform: translate(-50%, -50%) rotate(45deg) scale(0.9);
    }
    70% {
        transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
    }
    100% {
        transform: translate(-50%, -50%) rotate(45deg) scale(1);
    }
}

