body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li span {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

ul {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
}

ul li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0 30px;
    transform: rotate(-35deg) skew(20deg);
}

ul a:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
}

ul a:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: 0.8;
}

ul a:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: 0.6;
}

ul a:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: 0.4;
}

ul a:hover span:nth-child(1) {
    transform: translate(0px, -0px);
    opacity: 0.2;
}

ul li:nth-child(1) span
{
    background: #3b5999;
}
ul li:nth-child(2) span
{
    background: #55acee;
}
ul li:nth-child(3) span
{
    background: #dd4b39;
}
ul li:nth-child(4) span
{
    background: #0077b5;
}
ul li:nth-child(5) span
{
    background: #e4405f;
}

.fa {
    text-align: center;
    font-size: 35px !important;
}

.fa-facebook {
    background-color: rgb(66,103,178);
}

.fa-twitter {
    background-color: rgb(29,161,242);
}

.fa-google-plus {
    background-color: rgb(219,68,55);
}

.fa-linkedin {
    background-color: rgb(40,103,178);
}

.fa-instagram {
    background-color: rgb(225,48,108);
}
