body {
    background-color: darkgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

ul {
    list-style-type: none;
    display: flex;
}

ul li {
    color: white;
    font-size: 80px;
    transition: 2.5s;
}

ul:hover li {
    transform: rotate(45deg) translateY(-100px);
    filter: blur(10px);
    opacity: 0;
}

ul li:nth-child(1) {
    transition-delay: 0s;
}
ul li:nth-child(2) {
    transition-delay: 0.5s;
}
ul li:nth-child(3) {
    transition-delay: 1s;
}
ul li:nth-child(4) {
    transition-delay: 1.5s;
}
ul li:nth-child(5) {
    transition-delay: 2s;
}
