body {
    text-align: center;
    align-items: center;
    background-color: lightblue;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
}

span::before {
    content: '';
    animation: 3s mudar infinite linear;
    font-size: 50px;
}


@keyframes mudar {
    0% {
        content: '\01F436';
    }
    50% {
        content: '\01F3AE';
    }
    100% {
        content: '\01F36B';
    }
}