@keyframes loading {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.ring {
    width: 300px;
    height: 300px;
    border: 1px solid #DCDCDC;
    border-radius: 50%;
    box-shadow: 2px 2px 2px;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.ring.is-animating {
    animation: loading 1s infinite;
}