body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(65, 0, 126);
    perspective: 200px;
}

.loading {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background-color: cyan;
    animation: 2s rodar infinite linear;
}

@keyframes rodar {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: rotateX(0deg) rotateY(180deg);
    }
    100%{
        transform: rotateX(180deg) rotateY(180deg);
    }
}